{% load static %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

    <title>CH SANTOSH KUMAR - CV</title>
<!--
Reflux Template
https://templatemo.com/tm-531-reflux
-->
    <!-- Bootstrap core CSS -->
    <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{%static 'assets/css/fontawesome.css'%}" />
    <link rel="stylesheet" href="{%static 'assets/css/templatemo-style.css'%}" />
    <link rel="stylesheet" href="{%static 'assets/css/owl.css'%}" />
    <link rel="stylesheet" href="{%static 'assets/css/lightbox.css'%}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{%static 'assets/parallax.js-1.5.0/parallax.min.js'%}"></script>
  </head>

  <body>
    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <a href="#"><img src="{%static 'assets/images/author-image.jpg'%}" alt="" /></a>
            </div>
            <div class="author-content">
              <h4>CHEMUDUPATI SANTOSH KUMAR</h4><br>
              <span>SOFTWARE DEVELOPER</span><br>
              <span>4.9 Year's experience</span>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="{% url 'home'%}">Who is Santosh ?</a></li>
                <li><a href="{% url 'home'%}">What I’m good at ?</a></li>
                <li><a href="{% url 'home'%}">My Work</a></li>
                <li><a href="{% url 'home'%}">Contact Me</a></li>
              </ul>
            </nav>
            <div class="social-network">
              <ul class="soial-icons">
                <li>
                  <a href="https://www.facebook.com/08.SANTY/"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/santosh-kumar-16769b90/"
                  ><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="https://www.youtube.com/channel/UCq5aWTjEH_x0EzizyXHlAgw"
                  ><i class="fa fa-dribbble"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <section class="section contact-me" data-section="section4">
        <div class="container">
          <div class="section-heading">
            <h2>Getting in touch is easy!</h2>
            <div class="line-dec"></div>
              <span>“A dream you dream alone is only a dream. A dream you dream together is reality.”<br></span>
              <span style="font-style: italic;">― John Lennon</span><br><br>

            </div>
          {% if name %}

                <center>
                  <h2>  Thanks {{ name }}!</h2>
                  <p> You can also connect me on below given contact number.<br>
                  +919892380045<br>
                  +918689863289</p>
                 
                  <button type="submit" id="form-submit" class="white-button"> <a href="{% url 'home'%}">Return To Homepage</a> 
                  </button>
                </center>
                <br><br><br>

          {% else %}
          <div class="row">
            <div class="right-content">
              <div class="container">
                <form id="contact" action="" method="post">
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="name"
                          type="text"
                          class="form-control"
                          id="name"
                          placeholder="Your name..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="email"
                          type="text"
                          class="form-control"
                          id="email"
                          placeholder="Your email..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input
                          name="subject"
                          type="text"
                          class="form-control"
                          id="subject"
                          placeholder="Subject..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea
                          name="message"
                          rows="6"
                          class="form-control"
                          id="message"
                          placeholder="Your message..."
                          required=""
                        ></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="button">
                          Send Message
                        </button>
                      </fieldset>
                     </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% endif %}
    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <script src="{%static 'assets/js/isotope.min.js'%}"></script>
    <script src="{%static 'assets/js/owl-carousel.js'%}"></script>
    <script src="{%static 'assets/js/lightbox.js'%}"></script>
    <script src="{%static 'assets/js/custom.js'%}"></script>
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });

    </script>
  </body>
</html>
